h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 130px;
}
table {
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 20px;
}
p.bg {
  color: rgb(255, 0, 0);
  text-align: center;
}
td.white {
  background-color: #fff;
  width: 40px;
  height: 40px;
}
td.black {
  background-color: #000;
  width: 40px;
  height: 40px;
}

